<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <url>http://finance.yahoo.com/calendar/earnings</url>
  <help>Usage: Enter a date in mm/dd/YYYYY format follow by a number between 0 and 40.</help>
  <columns>
    <column abbrev="sym"  output="1">Symbol</column>
    <column abbrev="co"   output="0">Company</column>
    <column abbrev="time" output="3">Earnings Call Time</column>
    <column abbrev="eps"  output="4">EPS Estimate</column>
  </columns>
</configuration>
